<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="public/css/styles.css">
</head>
<body>
    {{>header}}
    <br />
    <br />
    <img src="public/images/myLogo.PNG" />

    {{>footer}}
</body>
</html>