<!DOCTYPE html>
<html>
<head>
    <title>Weather</title>
    <link rel="icon" href="public/images/weather.png">
    <link rel="stylesheet" href="public/css/styles.css" />
    <script async src="public/js/app.js"></script>
</head>
<body>
    <div class="main-content">
        {{>header}}

        <p>Use this site to get your weather!</p>
        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>
        <p id="location"></p>
        <p id="forecast"></p>
    </div>

    {{>footer}}
</body>
</html>