<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
</head>

<body>
    <div class="main-content">
        <p>Use this site to get your weather!</p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>
    </div>

    <script src="public/js/app.js"></script>
</body>

</html>